.element {
  display: inline-block;
  width: 100px;
  height: 100px;
  padding: 25px;
  border: 10px solid #ffffff;
}

.first {
  box-sizing: content-box;
  background-color: #2e9aff;
}

.second {
  box-sizing: border-box;
  background-color: #f498ad;
}
