@font-face {
    font-family: "Inter";
    src: url("./Inter-VariableFont.woff2") format("woff2");
    font-weight: 100 900;
    font-display: swap;
}

:root {
    --number-of-items-bg-color: rgba(228, 236, 247, 1);
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* outline: 1px solid #000; */
}

i,
img {
    vertical-align: top;
}

button {
    font-family: inherit;
}

.header {
    font-family: "Inter";
    padding: 30px 86px 0px 30px;
}

.header__name {
    font-weight: 700;
    font-size: 36px;
    line-height: 48.97px;
    color: rgba(39, 39, 46, 1);
    margin-bottom: 45.38px;
}

.header__line {
    content: "";
    position: relative;
    display: block;
    height: 1px;
    background-color: rgba(226, 232, 240, 1);
    width: 1108px;
}

.header__text {
    font-weight: 600;
    font-size: 20px;
    line-height: 27.3px;
    color: rgba(247, 147, 111, 1);
    margin: 30px 0px 9px;
}

.header__description {
    font-weight: 400;
    font-size: 18px;
    line-height: 24.48px;
    color: rgba(122, 122, 157, 1);
}

.main {
    font-family: "Inter";
    padding: 30px 31px 30px 30px;
}

/* .main-content {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  gap: 32px;
  border-radius: 20px;
  background-color: rgba(247, 248, 251, 1);
  font-family: "Inter";
  height: 868px;
  width: 1178px;
}
 */

.main__content {
    display: flex;
    justify-content: space-between;
    gap: 32px;
    border-radius: 20px;
    background-color: rgba(247, 248, 251, 1);
    width: 1178px;
}

.main__content-space {
    padding: 32px;
}

.cards {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.card {
    border-radius: 16px;
    width: 350px;
}

.card--white {
    background-color: rgb(255, 255, 255);
}

.card__content {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.card__space-for-products {
    padding: 8px 8px 24px 8px;
}

.card__image {
    border-radius: 16px;
    position: relative;
    height: 200px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* background-image: var(--card-image-bg); */
}

.card__square-for-icon {
    position: absolute;
    right: 10px;
    top: 10px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 1);
    padding: 14px;
    box-shadow: 0px 0px 1px 0px rgba(12, 26, 75, 0.24);
}

.card__body {
    padding: 0px 16px 0 16px;
}

.card__title {
    color: rgba(66, 84, 102, 1);
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
}

.card__price {
    margin-top: 8px;
    color: rgba(39, 39, 46, 1);
    font-size: 20px;
    font-weight: 600;
    line-height: 27.3px;
}

.card__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 28px;
}

.menu__group {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card__info {
    font-size: 16px;
    font-weight: 600;
    line-height: 25px;
}

.card__info--dark {
    color: rgba(39, 39, 46, 1);
}

.menu__number-of-items {
    font-size: 12px;
    font-weight: 700;
}

.menu__number-of-items-space {
    padding: 2px 10px;
    border-radius: 100px;
}

.menu__number-of-items-bg--blue {
    background-color: rgba(76, 111, 255, 1);
}

.menu__number-of-items-text--white {
    color: rgba(255, 255, 255, 1);
}

.options__space {
    margin-top: 16px;
}

.menu__text {
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
}

.menu__text--dark-blue {
    color: rgba(66, 84, 102, 1);
}

.menu__number-of-items-bg--gray {
    background-color: var(--number-of-items-bg-color);
}

.menu__number-of-items-text--blue {
    color: rgba(80, 87, 128, 1);
}

.card--blue {
    background-color: rgba(22, 25, 44, 1);
}

.card__materials {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgba(255, 255, 255, 1);
}

.card__materials-space {
    padding: 32px;
}

.card__name {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
}

.card__phone-text {
    font-weight: 700;
    font-size: 40px;
    line-height: 48.41px;
}

.card__picture-space {
    margin: 32px 0px 28px 0px;
    padding-left: 26px;
}

.card__description {
    font-size: 10px;
    font-weight: 400;
    line-height: 12.1px;
    color: rgba(242, 242, 242, 1);
}

.timer {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 12px;
    margin-bottom: 24px;
}

.timer__block {
    border-radius: 6px;
    background-color: rgba(228, 236, 247, 1);
    font-size: 10px;
    font-weight: 700;
    line-height: 16px;
    color: rgba(80, 87, 128, 1);
}

.timer__block-space {
    padding: 4px 10px 4px 10px;
}

.card__button {
    font-size: 14px;
    font-weight: 600;
    line-height: 14px;
    border-radius: 8px;
    color: rgba(255, 255, 255, 1);
    border: none;
    cursor: pointer;
}

.card__space-for-price-button {
    padding: 16px 24px;
}

.card__button--blue {
    background-color: rgba(76, 111, 255, 1);
}

.card__inner {
    display: flex;
    flex-direction: column;
}
.card__inner-space {
    padding: 24px 24px 32px 24px;
}

.card__profile {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    gap: 16px;
}

.card__photo {
    height: 46px;
    width: 46px;
    border-radius: 50%;
    background-image: url("./images/avatar.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.card__info--coal-black {
    color: rgba(22, 25, 44, 1);
}

.card__text {
    font-size: 14px;
    font-weight: 400;
    line-height: 23px;
    margin-bottom: 23px;
}

.card__text--gray {
    color: rgba(66, 84, 102, 1);
}

.card__icons {
    display: flex;
    gap: 8px;
    color: rgba(247, 147, 111, 1);
}

.card__paddings {
    padding: 24px 24px 11px 24px;
}

.card__info--black {
    color: rgba(0, 0, 0, 1);
}

.card__word-button {
    font-size: 12px;
    font-weight: 700;
    line-height: 14.52px;
    margin-left: auto;
    cursor: pointer;
}

.card__word-button--blue {
    color: rgba(76, 111, 255, 1);
}

.card__content-data {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 20px 0 24px 0;
}

.card__data {
    display: flex;
    border-radius: 16px;
    box-shadow: 0px 3px 8px -1px rgba(50, 50, 71, 0.05),
        0px 0px 1px 0px rgba(12, 26, 75, 0.24);
    gap: 16px;
    align-items: center;
}

.card__data-space {
    padding: 16px 48px 16px 16px;
}

.card__data-image {
    width: 85px;
    height: 58px;
}

.card__details {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-size: 16px;
    font-weight: 400;
    line-height: 25.92px;
}

.card__details--black {
    color: rgba(39, 39, 46, 1);
}

.card__details--grey {
    color: rgba(66, 84, 102, 1);
}

.card__details-info {
    color: black;
    font-size: 14px;
    font-weight: 600;
    line-height: 21.63px;
}

.card__space-for-show-button {
    padding: 16px 113px;
}

.card__space-for-sign {
    padding: 32px;
}

.card__icon {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: rgba(102, 203, 159, 1);
    margin-bottom: 24px;
}

.card__sign {
    transform: translate(11px, 13px);
    color: rgba(255, 255, 255, 1);
}

.card__space-header {
    margin-bottom: 8px;
}

.card__small-button {
    border-radius: 6px;
    padding: 12px 20px;
    font-size: 12px;
    font-weight: 600;
    line-height: 12px;
    color: rgba(255, 255, 255, 1);
    border: none;
    cursor: pointer;
}

.card__small-button--blue {
    background-color: rgba(76, 111, 255, 1);
}

.main::after {
    content: "";
    position: relative;
    display: block;
    height: 1px;
    background-color: rgba(226, 232, 240, 1);
    width: 1108px;
    top: 45.38px;
}

.footer {
    display: flex;
    padding: 35.5px 30px;
    align-items: center;
    justify-content: space-between;
}

.brand {
    display: flex;
    align-items: center;
    gap: 11px;
}

.brand__logo {
    width: 44px;
    height: 44px;
    border-radius: 100px;
    background-image: url("./images/webpixels-seeklogo.png");
    background-size: cover;
    background-position: top center;
    box-shadow: 0px 30px 40px 0px rgba(20, 37, 63, 0.08),
        0px 0px 1px 0px rgba(12, 26, 75, 0.1);
}

.brand__name {
    width: 104px;
    height: 22px;
}

.hyperlink {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.hyperlink__icon {
    color: rgba(255, 51, 85, 1);
}
