/* @font-face {
  font-family: "Roboto";
  src: url("./Roboto-VariableFont_wdth,wght.ttf") format("ttf");
  font-weight: 100 900;
  font-display: swap;
} */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* ADD OUTLINE TO CHECK TROUBLES */
    outline: 1px solid #000;
}

i,
img {
    vertical-align: top;
}

body {
    background-color: black;
    font-family: "Roboto";
    /* Разобрать */
    /* display: grid; 
    place-content: center;
    min-height: 100vh; */
    /* 1vh = 1view height (1% от высоты экрана) */

    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page {
    padding: 24px 24px 48px 24px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 1);
    width: 650px;
}

.profile {
    display: flex;
    align-items: center;
    gap: 10px;
}

.profile__avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-image: url("./images/avatar.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    /* background: color url("image") position / size repeat; */
}

.info {
    /* display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 3px; */
}

.info__text {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.005em;
    color: rgba(0, 0, 0, 1);
    margin-bottom: 3px;
}

.info__text-small {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.0025em;
    color: rgba(108, 117, 125, 1);
}

.images {
    margin: 24px 0px;
    display: flex;
    gap: 5px;
}

.images__picture {
    background-color: red;
    width: 50%;
    aspect-ratio: 2 / 1;
    border-radius: 8px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.page__header {
    font-size: 34px;
    font-weight: 700;
    line-height: 44.2px;
    color: rgba(0, 0, 0, 1);
    margin-bottom: 24px;
}

.page__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.5px;
    color: rgba(0, 0, 0, 1);
}

.page__text-space {
    margin-bottom: 20px;
}

.action {
    display: flex;
    align-items: center;
    gap: 6px;
}

.action__icon {
    color: rgba(221, 25, 29, 1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.info__word-button {
    background: none;
    border: none;
}

.info__word-button:hover {
    cursor: pointer;
    text-decoration: underline;
}

.bar-space {
    margin-bottom: 24px;
    margin-top: 20px;
}

.bar__field {
    border-radius: 8px;
    background: rgba(248, 248, 248, 1);
    box-shadow: 0px 0px 2px -1px rgba(0, 0, 0, 0.47) inset;
}

.bar__field-space {
    padding: 9px;
}

.bar__input {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.005em;
    width: 100%;
}

.bar__input::placeholder {
    color: rgba(108, 117, 125, 1);
}

.reviews {
    display: flex;
    gap: 12px;
}

.reviews__avatar {
    border-radius: 50%;
    height: 40px;
    width: 40px;
}

.comment {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 3px;
    flex: 1;
}

.data {
    display: flex;
    gap: 10px;
    align-items: center;
}

.interactions {
    display: flex;
    align-items: center;
    gap: 10px;
}

.interactions__space {
    margin: 10px 0px;
}

.reviews__space {
    margin-top: 10px;
}

.image__space {
    padding: 10px 0px;
}

.comment__image {
    height: 172px;
    border-radius: 8px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("./images/lake.jpg");
}

.write-comment {
    display: flex;
    align-items: center;
    gap: 10px;
}

.reviews__my-acc {
    background-image: url("./images/man3.png");
}

.small-bar {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.small-bar__padding {
    padding: 10px 24px;
}

.small-bar__icon {
    color: rgba(18, 54, 243, 1);
    cursor: pointer;
}
