* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wood-wrapper {
  position: static;
  background-color: brown;
  margin: 55px;
  width: 500px;
  height: 500px;
  border: 10px solid #000;
  padding: 10px;
}

.the-cat {
  position: relative;
  background-color: red;
  border: 10px solid #000;
  width: 200px;
  height: 100px;
  top: 1%;
  left: 50%;
}
